.main {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;

    .name {
        color: #fff;
        box-sizing: border-box;
        padding: 0 30px;
        font-size: 38px;
        font-family: 'Libre Baskerville', serif;
        font-weight: 700;
    }
}