.main {
    width: 100%;
    min-height: calc(100vh - 72px);
    height: 'auto';
    padding-bottom: 24px;

    .text-container {
        width: 100%;
        padding: 0px 8%;
      
        @media screen and (max-width: 1200px) {
            padding: 0px 4%;
        }
    }
}
