

.img-container {
    width: 100%; 
    height: 0;
    padding-bottom: 49.8%;
    // aspect-ratio: 1.96;
    .img-UWCSSA {
        border-radius: 12px;
        height: 100%;
        width: 100%; 
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.img-container-bhpm {
    width: 100%; 
    height: 0;
    padding-bottom: 42.8%;
    // aspect-ratio: 1.96;
    .img-UWCSSA {
        border-radius: 12px;
        height: 100%;
        width: 100%; 
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}
